<div class="button_grouping">
  <span class="bold">Mode:</span>
  <label>
    <input name="jam_mode" type="radio" checked="checked" value="basic"> Basic
  </label>

  <label>
    <input name="jam_mode" type="radio" value="advanced"> Advanced
  </label>

  <label>
    <input name="jam_mode" type="radio" value="experimental"> Experimental
  </label>
</div>