<div class="staff-container noselect">
  <canvas width="1000" height="375" class="staff"></canvas>
  <canvas width="1000" height="375" class="bar"></canvas>
</div>

<!--<div class="button-col">-->
<!--<input type="button" value="pen" />-->
<!--</div>-->
<div class="doc-block"></div>


<div id="controls" class="noselect hidden">

<!-- Table for button_grouping-level positioning -->
<div class="table">

<div class="tr">

<div class="td top_align">
  <div class="button_grouping">

    <div class="table">

      <div class="tr">
        <div class="td">Volume:</div>

        <div class="td">
          <div class="range_wrapper">
            <input type="range" min="0.0" max="1.0" step="0.01" value="0.1" id="slider" onchange="changeVolume(event)"/>
          </div>
        </div>

        <div class="td">
          <label><input type="checkbox" id="mute" onchange="toggleMute();"/> Mute</label>
        </div>
      </div>

      <div class="tr control_advanced">
        <div class="td">Normalize:</div>

        <div class="td">
          <div class="range_wrapper">
            <input type="range" min="1.0" max="20.0" step="0.1" value="5.0" id="precompression_max" onchange="setPrecompressionAmplitude(this);" />
          </div>
        </div>

        <div class="td">
          <label title="Normalize the buffered signal. This may help to reduce clipping and distortion in some cases, but may cause performance issues on slower machines.">
            <input type="checkbox" id="precompression_enabled" checked="checked" onchange="togglePrecompression();"/> Enable
          </label>
        </div>
      </div>

      <div class="tr control_experimental">
        <div class="td">Decay:</div>

        <div class="td">
          <div class="range_wrapper">
            <input type="range" min="0" max="255" step="1" value="60" id="robo_decay"/>
          </div>

        </div>

        <div class="td">
          <label><input type="checkbox" id="decay_enabled" onchange="toggleDecay();"/> Enable</label>
        </div>
      </div>



    </div>
  </div>

  <%= render 'scale_generators' %>


  <%= render 'robo_controls' %>

</div>


<div id="tool_controls" class="td top_align">

  <div class="button_grouping">

    <div class="table">
      <!-- TODO: Map these to other tools instead of toggling if we add more -->
      <div class="th">
        <div class="td">Tool</div>
        <div class="td">Functions</div>
      </div>
      <div class="tr">
        <div class="td">
          <label><input type="radio" name="tool_style" value="pen" checked="checked"/> Pen</label>
        </div>
        <div class="td">
          Size:
          <div class="range_wrapper">
            <input type="range" min="1" max="15" step="1" value="2" id="pen_stroke_width" onchange="changePenStrokeWidth($(this).val());"/>
          </div>
        </div>
      </div>

      <div class="tr">
        <div class="td">
          <label><input type="radio" name="tool_style" value="eraser"/> Eraser</label>
        </div>
        <div class="td">
          Erase all layers:
          <!--<button id="erase_all_layers" type="button" disabled="disabled" onClick="resetStaff()" title="Select the eraser tool to enable erasing all layers." alt_title="Be careful. This will erase everything!">-->
          <button id="erase_all_layers" type="button" onClick="resetStaff()" title="Be careful. This will erase everything!">
            X
          </button>
        </div>
      </div>

    </div>


  </div>
</div>


  <div class="td">
    <div class="button_grouping">
        <!-- Layer/Color selection table -->
        <%= render 'layer_control_table' %>
    </div>
  </div>




</div>
</div>


</div>


<div id="side_panel" class="button_grouping hidden">
  <div class="control_advanced">
  <span class="bold">Scale Recall</span>
  <div id="previous_scales">
    <button class="scale_button active_scale_button" onclick="$('.scale_button').removeClass('active_scale_button'); $(this).addClass('active_scale_button'); recallDefaultScale();" scale_key="default">Default [Alien]</button>
  </div>
  <hr/>
  </div>

  <button style="float:right;" onclick="saveState(false);">Add current</button>
  <span class="bold">Favorites</span>
  <div id="previous_draws" class="recall_draw_container"></div>

  <hr/>

  <div style="float:right">
    <label>
      <input type="checkbox" id="autosave_enable" checked="checked" /> Enable
    </label>
    <select id="autosave_limit">
      <option value=3 selected="selected">3</option>
      <option value=10>10</option>
      <option value=0>&#8734;</option>
    </select>
  </div>
  <span class="bold">AutoSwag</span>
  <div id="autosave_draws" class="recall_draw_container"></div>
</div>
