<div id="below_staff_area">
    <div class="button_grouping">
        <h1 id="jam-title">New jam</h1>
        <%= render 'form' %>

        <!-- TODO: Do we really need this back button? Commenting out for now. -->
        <!-- <%= link_to 'Back', jams_path %> -->
		<%= link_to 'View all jams', jams_path %>
     </div>
</div>

<%= render 'staff' %>



