<div id="below_staff_area">
    <h1>New jam</h1>
    <%= render 'form' %>
    <%= link_to 'Back', jams_path %>

    <input type="button" value="save" onclick="$('#stored_data').text(getStorableData());" />
    <input type="button" value="load" onclick="loadFromDataURL($('#stored_data').text());" />

    <div id="stored_data" style="display: hidden;"></div>
</div>

<%= render 'staff' %>



