// Place all the styles related to the Jams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*
{
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
}

#new_jam input
{
  -moz-user-select: text;
  -khtml-user-select: text;
}

div.center-col
{
    margin: auto;
}

div.staff-container 
{
  /* TODO: custom pointers from .cur/.ani files */
  cursor:pointer;
}

div.button-col
{
    float: left;
    display: inline;
    position : absolute;
    left: 0px;
    top: 300px;
}

canvas.staff 
{
    float: left;
    display:inline;
    z-index: 0;
    position : absolute;
    top: 0;
    left: 0;
}

canvas.bar 
{
    float: left;
    display:inline;
    z-index: 1;

    position: absolute;
    left : 0px;
    top: 0px;
}

.checkbox_list
{
    list-style-type: none;
}

#buttons
{
    position: absolute;
    top:1em;
    left:1015px;
    width:300px;
}

.button_grouping
{
    padding:10px;
    margin:4px;
    border:thin green dotted;
    border-radius: 5px;
}

.range_wrapper, .subgroup
{
    padding:3px;
    display:inline-block;
    border: thin gray dotted;
    border-radius:5px;
    vertical-align: middle;
    margin: 5px;
}

.range_wrapper input
{
    display:block;
}

.subgroup legend
{
    font-weight:bold;
}

#below_staff_area
{
  position:absolute;
  top:400px;
  left:1em;
}

/* TODO: Is this the right place/methodology for relocating the header footer since we are constrained to absolute
positioning for the canvas? */
 header
 {
   position:absolute;
   top: 600px;
   left:1em;
 }

footer
{
  position:absolute;
  top: 650px;
  left:1em;
}