// Place all the styles related to the Jams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.center-col
{
    margin: auto;
}

div.staff-container 
{
 
}

div.button-col
{
    float: left;
    display: inline;
    position : absolute;
    left: 0px;
    top: 300px;
}


canvas.staff 
{
    float: left;
    display:inline;
    z-index: 0;
    position : absolute;
    top: 0;
    left: 0;
}

canvas.bar 
{
    float: left;
    display:inline;
    z-index: 1;

    position: absolute;
    left : 0px;
    top: 0px;
}

.checkbox_list
{
    list-style-type: none;
}

#buttons
{
    padding:30px;
    float:right;
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
}

.button_grouping
{
    padding:10px;
    margin:4px;
    border:thin green dotted;
    border-radius: 5px;
}

.range_wrapper, .subgroup
{
    padding:3px;
    display:inline-block;
    border: thin gray dotted;
    border-radius:5px;
    vertical-align: middle;
    margin: 5px;
}

.range_wrapper input
{
    display:block;
}

.subgroup legend
{
    font-weight:bold;
}