// Place all the styles related to the Jams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.th
{
  display:table-header-group;
  font-weight:bold;
}

div.table
{
  display:table;
}

div.tr
{
  display: table-row;
}

div.td
{
  display:table-cell;
}

body
{
  background-image: url(/assets/gplaypattern.png);
}

span.bold
{
  font-weight:bold;
}

/* disable selecting since it tends to happen accidentally when drawing */
*
{
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit browsers */
}

#new_jam input
{
  -moz-user-select: text;
  -khtml-user-select: text;
}

div.center-col
{
  margin: auto;
}

div.staff-container
{
/* TODO: custom pointers from .cur/.ani files */
  cursor:pointer;
  position:absolute;
}

div.button-col
{
  float: left;
  display: inline;
  position : absolute;
  left: 0px;
  top: 300px;
}

canvas.staff
{
  float: left;
  display:inline;
  z-index: 0;
  position : absolute;
  top: 0;
  left: 0;
  background-image:url(/assets/gridme.png);
  border:thin solid green;
}

canvas.bar
{
  float: left;
  display:inline;
  z-index: 1;

  position: absolute;
  left : 0px;
  top: 0px;
}

.checkbox_list
{
  list-style-type: none;
}

#buttons
{
  position: absolute;
  top:1em;
  left:335px;
}

.button_grouping
{
  padding:10px;
  margin:4px;
  border:thin green dotted;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.65);
  display:block;
}

.range_wrapper, .subgroup
{
  padding:3px;
  display:inline-block;
  border: thin gray dotted;
  border-radius:5px;
  vertical-align: middle;
  margin: 5px;
}

.range_wrapper input
{
  display:block;
}

.subgroup legend
{
  font-weight:bold;
}

#below_staff_area
{
  position:absolute;
  top:400px;
  left:1em;
  width:285px;
}

h1 
{
	text-transform : uppercase;
	font-weight: bold;
}
.down-vote-count, .up-vote-count {
	letter-spacing: -2px;
	margin: 5px;
}

.up-vote-count 
{
	color: green;
}

.down-vote-count 
{ 
	color: red;
}
header
{
  margin-top: 0px;
  margin-bottom: 4px;
 
  background: rgba(255, 255, 255, 0.65);
  border-bottom: dotted thin green;	
  width: 100%;
  color: black;
  font-family: inherit;
  height: 20px; 	
}

header a {
	text-transform: uppercase;
	color: #666;
	text-decoration: none;

}

header a:hover {
	text-decoration: underline;
}



nav {
	margin-left: 10px;
	float: left;
}

#attribution
{
	float: right;
	margin-right: 5px;
}

#layer_control_table
{
  text-align: center;
}

.button_grouping .tr
{
  line-height: 25px;
}

.table .td
{
  padding-right:5px;
  padding-left:5px;
}

.td .layer_control_color_label
{
  border-radius:3px;
  margin:3px;
  padding:0 4px;
  display: inline-block;
  width:45px;
  text-align: center;
}

#red_layer_control_row .layer_control_color_label,
/*
#red_layer_control_row button,
#red_layer_control_row select
*/
{
  background: rgba(255, 0, 0, 0.3);
}

#green_layer_control_row .layer_control_color_label,
/*
#green_layer_control_row button,
#green_layer_control_row select
*/
{
  background: rgba(0, 255, 0, 0.3);
}

#blue_layer_control_row .layer_control_color_label,
/*
#blue_layer_control_row button,
#blue_layer_control_row select
*/
{
  background: rgba(0, 0, 255, 0.3);
}


/* neat little hack to get visual representation of waves in unicode*/
#dspwave_red, #dspwave_green, #dspwave_blue
{
  width:105px;
}

.wave_select
{
  letter-spacing:-3px;
}

.list-staff {
	height: 75px;
	width: 200px;
	border: dotted 1px green;
}
